@font-face {
  font-family: 'poppinsmedium';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsregular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinssemibold';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppinsregular';
}

.container {
  margin: 0 auto;
  padding: 0 18px;
  width: 100%;
  max-width: 1200px;
}

/**********HEADER**********/

.header {
  margin: 0 auto 82px;
  max-width: 100%;
  height: auto;
  width: 1920px;
  height: 901px;
  background-image: url('../img/header.jpg');
  background-repeat: no-repeat;
}

.header__wrapper {
  margin-bottom: 155px;
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 100%;
}

.header__nav {
  margin-right: 26px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 45px;
}

.nav__link {
  font-family: 'poppinsmedium';
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__link:hover {
  color: #d3b47f;
}

.header__phone {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.phone__img {
  margin-right: 11px;
}

.phone__number {
  font-family: 'poppinsregular';
  font-size: 16px;
  color: #fff;
  transition: color 0.3s;
}

.phone__number:hover {
  color: #d3b47f;
}

.header__info {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.info__time {
  margin-bottom: 26px;
  font-family: 'poppinsmedium';
  font-size: 24px;
  color: #fff;
  letter-spacing: 2px;
}

.info__title {
  font-family: 'poppinssemibold';
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 0.3px;
  color: #fff;
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__reserve {
  padding: 40px 63px;
  font-family: 'poppinsmedium';
  font-size: 18px;
  color: #fff;
  background-color: #3a4574;
  transition: all 0.3s;
}

.button__reserve:hover {
  color: #3a4574;
  background-color: #fff;
}

.social-network__list {
  display: flex;
  list-style: none;
}

.social-network__item:not(:last-child) {
  margin-right: 25px;
}

/**********MENU**********/

.menu {
  margin-bottom: 178px;
}

.menu__wrapper {
  display: flex;
  align-items: flex-end;
}

.menu__list {
  margin-right: 124px;
  list-style: none;
}

.menu__item {
  margin-bottom: 21px;
}

.menu__day {
  margin-bottom: 17px;
  font-family: 'poppinssemibold';
  font-size: 24px;
  color: #000;
}

.menu__name {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
  font-size: 18px;
  color: #000;
}

.ellipse {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #d3b47f;
}

.ellipse {
  margin-right: 12px;
}

.ellipse:first-child {
  margin-left: 12px;
}

.line {
  width: 469px;
  height: 1px;
  background-color: #e7e7e7;
}

.view__square {
  position: relative;
  margin-bottom: 19px;
  width: 475px;
  height: 505px;
  border: 2px solid #d3b47f;
}

.view__photo1 {
  position: absolute;
  top: 100px;
  left: -96px;
  width: 323px;
  height: 486px;
  background-image: url('../img/1.jpg');
}

.view__photo2 {
  position: absolute;
  top: -51px;
  left: 250px;
  width: 323px;
  height: 486px;
  background-image: url('../img/2.jpg');
}
